td
{
	max-width: 500px;
}

table, th, td
{
	border: 1px solid #141414;
}

body
{
	background-color: #dedeea;
}

.component
{
	width: 120px;
}

#truepositives
{
	border: 2px solid green;
}

#falsepositives
{
	border: 2px dashed red;
}

#falsenegatives
{
	border: 2px solid red;
}
